.con{
    margin-top: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
  
  
}footer{
    position:relative;
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
}