.ro{
    padding-top: 30px;
    padding-bottom: 30px;
}.con{
    padding-top: 50px;
    padding-bottom: 50px;
}footer{
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;}